@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

/* CSS Reset */


.header {
    color: white;


}

.left {
    /* border: 2px solid red;  */
    /* Boders are just for guidence during initial build */
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 10px;
}

.left img {
    width: 150px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    font-size: 22px;
    line-height: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.mid {
    display: block;
    width: 55%;
    margin: 20px auto;
    /* border: 2px solid green; */
}

.navbar {
    display: inline;
}

.navbar li {
    font-size: 25px;
    display: inline;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 34px 23px;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a.active {
    text-decoration: underline;
}

.right {
    /* border: 2px solid blue; */
    display: inline-block;
    position: fixed;
    right: 34px;
    top: 10px;
}

.btn {
    margin: 10px 5px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2',
        cursive;
}

.btn:hover {
    background-color: rgb(19, 18, 18);
}

.container {
    color: white;
    border: 2px solid white;
    margin: 100px 75px;
    padding: 50px;
    width: 33%;
    height: 450px;
    float: left;
    border-radius: 30px;

}

h1 {

    margin: auto;
    text-align: center;
    width: 50%;
}

h2 {
    margin: auto;
    text-align: center;
    width: 75%;
}

.form-group input {
    text-align: center;
    display: block;
    width: 92%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 11px auto;
    padding: px;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;

}

.container button {
    display: block;
    width: 92%;
    margin: 25px auto;

}

.container2 {
    width: 150px;
    display: block;
    position: fixed;
    right: 5px;
    padding: 10px;
    top: 80%;
    margin: 10px auto;
    /* border: 2px solid white; */
    text-align: center;
}